{
  "id":"MPointsFromRedis",
  "monitoredSystemId":"RedisMP",
  "sinkServer":"10.195.60.180",
  "sinkPort":"9092",
  "autoSendTimeInterval":"3",
  "hbFrequency":"5",
  "properties": [],
  "values": [
    {"id":"Array-Laser-Locked", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} 
  ]
}
