{
  "id":"MPointsFromRedis",
  "monitoredSystemId":"RedisMP",
  "sinkServer":"10.195.60.180",
  "sinkPort":"9092",
  "autoSendTimeInterval":"3",
  "hbFrequency":"5",
  "properties": [],
  "values": [
    {"id":"Array-Laser-Locked", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#13!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#14!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#15!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#16!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#17!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#18!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#19!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#20!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#21!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#22!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#23!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#24!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DV[!#25!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#41!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#42!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#43!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#44!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#45!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#46!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#47!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#48!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#49!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#50!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#51!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#52!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#53!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#54!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#55!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#56!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#57!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#58!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#59!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#60!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#61!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#62!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#63!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#64!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-DA[!#65!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-PM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-PM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-PM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-PM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#1!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#2!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#3!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#4!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#5!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#6!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#7!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#8!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#9!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#10!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#11!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP0-VALUE-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP5-VALUE-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-TEMP9-VALUE-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES0-VALUE-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CRIO-VACUUM-PRES1-VALUE-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""} ,
    {"id":"Array-CMPR-DRIVE-CM[!#12!]", "refreshTime":"60000", "filter":"", "filterOptions":""}
  ]

}
