 Array-PSA-OPERATONAL-DV[!#2!] Operational
        PSA Array-PSA-SHUTDOWN-DV[!#2!] False
        PSD Array-PSD-OPERATONAL-DV[!#2!] Operational
        PSD Array-PSD-SHUTDOWN-DV[!#2!] False
        CMPR Array-CMPR-OPERATONAL-DV[!#2!]

{
  "id":"MPointsFromIDL",
  "monitoredSystemId":"Array-IDL-MP",
  "sinkServer":"10.195.60.180",
  "sinkPort":"9092",
  "autoSendTimeInterval":"3",
  "hbFrequency":"5",
  "properties": [],
  "values": [
  ]
}
