{
  "id":"UtilityModules",
  "monitoredSystemId":"array",
  "sinkServer":"10.195.60.180",
  "sinkPort":"9092",
  "autoSendTimeInterval":"3",
  "hbFrequency":"5",
  "properties": [],
  "values":[
    {"id":"Array-UMStatus-Ant[!#1!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#2!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#3!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#4!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#5!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#6!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#7!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#8!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#9!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#10!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#11!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#12!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#13!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#14!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#15!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#16!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#17!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#18!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#19!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#20!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#21!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#22!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#23!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#24!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#25!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#26!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#27!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#28!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#29!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#30!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#31!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#32!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#33!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#34!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#35!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#36!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#37!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#38!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#39!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#40!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#41!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#42!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#43!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#44!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#45!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#46!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#47!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#48!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#49!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#50!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#51!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#52!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#53!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#54!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#55!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#56!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#57!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#58!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#59!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#60!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#61!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#62!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#63!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#64!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#65!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-Ant[!#66!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
     {"id":"Array-AntennasToPads", "refreshTime":"120000", "filter":"", "filterOptions":""}]
}

