{
  "id":"UtilityModules",
  "monitoredSystemId":"array",
  "sinkServer":"10.195.60.180",
  "sinkPort":"9092",
  "autoSendTimeInterval":"3",
  "hbFrequency":"5",
  "properties": [],
  "values":[
    {"id":"Array-UMStatus-DV[!#1!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#2!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#3!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#4!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#5!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#6!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#7!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#8!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#9!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#10!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#11!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#12!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#13!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#14!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#15!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#16!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#17!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#18!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#19!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#20!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#21!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#22!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#23!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#24!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DV[!#25!]", "refreshTime":"120000", "filter":"", "filterOptions":""},

    {"id":"Array-UMStatus-DA[!#41!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#42!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#43!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#44!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#45!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#46!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#47!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#48!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#49!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#50!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#51!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#52!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#53!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#54!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#55!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#56!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#57!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#58!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#59!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#60!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#61!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#62!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#63!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#64!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-DA[!#65!]", "refreshTime":"120000", "filter":"", "filterOptions":""},

    {"id":"Array-UMStatus-PM[!#1!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-PM[!#2!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-PM[!#3!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-PM[!#4!]", "refreshTime":"120000", "filter":"", "filterOptions":""},

    {"id":"Array-UMStatus-CM[!#1!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#2!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#3!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#4!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#5!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#6!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#7!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#8!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#9!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#10!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#11!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
    {"id":"Array-UMStatus-CM[!#12!]", "refreshTime":"120000", "filter":"", "filterOptions":""},
     {"id":"Array-AntennasToPads", "refreshTime":"120000", "filter":"", "filterOptions":""}]
}

